body {
  font-family: "Nunito", "sans-serif";
}

.container {
  margin: auto;
  width: 80%;
  text-align: center;
}

/* Flexbox */

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
}

.item {
  width: 27%;
  margin-bottom: 3rem;
}

.item img {
  width: 100%;
}

/* Some styling */

.grid-container p {
  text-align: justify;
}

.grid-container h4 {
  text-align: left;
  color: aqua;
}

.container h2 {
  color: brown;
}
